
<div class="pt-5 mt-5">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card mb-5 t-5 border-dark" style="max-width: 28rem; height:10rem;">
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Proyecto realizado por Jeffry Rojas Vargas</h3>
        <div class="d-flex align-items-center justify-content-center">
          <p>
            <button class="btn btn-dark mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
              Mostrar
            </button>
          </p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <div style="min-height: 250px;">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body  d-flex align-items-center justify-content-center" style="width: 400px; height: 340px;">
                <div class="col-md-4">
                  <img src="https://img.freepik.com/vector-gratis/cute-crocodile-gamer-juego-auriculares-joystick-dibujos-animados-vector-icono-ilustracion-plana_138676-6509.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class=>
                  <h4>Tecnologias usadas:</h4>
                  <ol class="list">
                    <li class="list">Angular</li>
                    <li class="list">Boostrap</li>
                    <li class="list">Typescript</li>
                  </ol>
                  <h4>Correo electronico:</h4> 
                    <a href="#" style="color: inherit; text-decoration: none;">jeffryrojas1998@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
