
<div  class="d-flex align-items-center justify-content-center pt-5 mt-5">
  <div class="card mb-3 mt-5" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://images.ecestaticos.com/4pI8J-t4shiwzut1SnKrncTOvi4=/0x0:1438x1635/746x847/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F09f%2F75f%2F610%2F09f75f61060ddbb36bac4960e843d508.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Chuck Norris</h5>
            <p class="card-text">{{informacionRecibida.value}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
