<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Proyecto Final</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <nav class="navbar">
          <div class="container">
            <a class="navbar-brand" href="https://youtu.be/qUPlB2dgru8">
              <img src="https://cdn-icons-png.flaticon.com/512/4515/4515645.png" alt="" width="74" height="64">
            </a>
          </div>
        </nav>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" target="_parent" href="/chiste">Generate joke</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" target="_parent" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" target="_parent" href="/inicio">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>